:root {
    --title-color: #ffffff;
    --second-title-color: #2e2f42;
    --header-color: #2e2f42;
    --main-btn-color: #ffffff;
    --second-btn-color: #4d5ae5;
    --subtitle-color: #2e2f42;
    --text-color: #434455;
    --first-background-color:#2e2f42;
    --second-background-color:#ffffff;
    --third-background-color: #F4F4FD;
    --accent:#404bbf;
    --border:#E7E9FC;
    --soc-non-active:#4d5ae5;
    --soc-active:#404BBF;
    --typical-lh: 1.5;
    --typical-fs: 16px;
    --typical-fw: 500;
    --gra:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7))
}
body {
    font-family: "roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container{
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
img{
    display: block;
    max-width: 100%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*______________________HEADER____________________*/

.header {
    background-color: var(--second-background-color);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);
}
.header-container{
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
}
.header-logo {
    line-height: 1.33;
    color: var(--header-color);
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: #4d5ae5;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-item{
    display: flex;
}

.header-link {
    font-size: var(--typical-fs);
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--header-color);
    font-weight: var(--typical-fw);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent);
}
.header-address {
    display: flex;
    margin-left: auto;

}
.address-list {
    display: flex;
    gap: 40px;

}
.address-item {
}
.contacs {
    font-style: normal;
    font-size: var(--typical-fs);
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.address-mail {}

.address-mail:hover,
.address-mail:focus {
    color: var(--accent);
}
.address-tel {
}
.address-tel:hover,
.address-tel:focus {
    color: var(--accent);
}
/*______________________HERO____________________*/

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--first-background-color);
    background-image:var(--gra), url(../images/hero-bg.jpg);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-right: auto;
    margin-left: auto;
    max-width: 526px;
}
.hero-btn {
    min-width: 169px;
    height: 56px;
    line-height: 1.19;
    color: var(--main-btn-color);
    background-color: var(--second-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent);
}

.btn {
    font-family: inherit;
    font-size: var(--typical-fs);
    font-weight: var(--typical-fw);
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}

/*_____________________BENEFITS____________________*/

.benefits {
    padding-bottom: 0;
}
.benefits-list {
    display: flex;
    gap: 24px;

}
.benefits-item {
    flex-basis: calc((100% - 72px)/4);
}
.benefits-subtitle {
    font-size: 20px;
    font-weight: var(--typical-fw);
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    margin-bottom: 8px;
}
.benefits-text {
    font-size: var(--typical-fs);
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.benefits-svg{
    
    background-color: var(--third-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    margin-bottom: 8px;
}


/*______________________ABOUT____________________*/
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.about {
}

.about-title {
    margin-bottom: 72px;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: space-around;
}
.about-item {
    flex-basis: calc((100% - 50px) / 3);
    border: 1px solid var(--border);
}

/*______________________TEAM____________________*/
.text {
    font-size: var(--typical-fs);
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
}

.subtitle {
    font-size: 20px;
    font-weight: var(--typical-fw);
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.team {
    background-color: var(--third-background-color);
}
.team-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    
}
.team-content{
    text-align: center;
    padding: 32px 0;
    align-items:
}
.team-item {
    background-color: var(--second-background-color);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px/4));
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
}
.team-subtitle {
    margin-bottom: 8px;
}
.team-text {
    color: var(--text-color);
    margin-bottom: 8px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--soc-non-active);
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-soc-link:is(:hover, :focus) {
    background-color: var(--soc-active);
}
.team-soc-icon{
    fill: #f4f4fd;
}


/*_____________________CUSTOMERS__________________*/

.customers {
    padding-top: 130px;
}
.customers-title {
    margin-bottom: 72px;
}
.title {
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
    flex-basis: cal((100% -120px ) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 16px 32px;
    color: #8E8F99;
}
.customers-icon {
    fill: currentColor;
}
.customers-link:is(:hover, :focus) {
    border-color: #404BBF;
    color: #404BBF;
}


/*______________________FOOTER____________________*/

.footer {
    background-color: var(--first-background-color);
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-logo {
    line-height: 1.17;
    color: #f4f4fd;

}
.footer-text {
    color: #e7e9fc;
    max-width: 264px;
    margin-top: 16px;
}
.footer-social-media{
}
.social-title{
    color: var(--title-color);
    font-weight:var(--typical-fw);
    margin-bottom: 16px;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-soc-link:is(:hover, :focus) {
    background-color: #31D0AA;;
}
.footer-soc-icon{
    fill: #f4f4fd;
}


/*______________________GALLERY____________________*/

.gallery {
    padding-top: 96px;
}
.filter-list {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-item {

}
.filter-btn {
    line-height: var(--typical-lh);
    color: var(--second-btn-color);
    background-color: var(--third-background-color);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 12px 24px;
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--main-btn-color);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--accent);
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.gallery-content {
    padding: 32px 16px;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.gallery-item {
    flex-basis: calc((100% - 48px)/3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.gallery-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-img {
}
.gallery-subtitle {
    margin-bottom: 8px;
}
.gallery-text {
    color: var(--text-color);
}

